{
   "stopwords" : [
      "AppVeyor",
      "BeforeRelease",
      "BundleInfo",
      "CI",
      "Dist",
      "ExtUtils",
      "ExtraTestFiles",
      "Freenode",
      "MetaProvides",
      "ProhibitUnusedVarsStricter",
      "RT",
      "RemoveDevelopPrereqs",
      "SKIRMESS",
      "SetScriptShebang",
      "ShareDir",
      "StricterSubs",
      "Tics",
      "Ubuntu",
      "Zilla",
      "authordeps",
      "basedir",
      "dev",
      "dist",
      "distmeta",
      "doc",
      "inc",
      "lib",
      "perlcriticrc",
      "pm",
      "shebang",
      "tmp",
      "wd",
      "xenial",
      "xt"
   ]
}
