{
   "stopwords" : [
      "BeforeRelease",
      "CI",
      "ExtUtils",
      "ExtraTestFiles",
      "MVP",
      "MetaProvides",
      "RT",
      "RegularExpressions",
      "RequireDotMatchAnything",
      "RequireExtendedFormatting",
      "RequireLineBoundaryMatching",
      "ShareDir",
      "basedir",
      "com",
      "dev",
      "dist",
      "distmeta",
      "doc",
      "inc",
      "lib",
      "perlcriticrc",
      "pm",
      "rjbs",
      "shebang",
      "wd",
      "xt"
   ]
}
