{
   "stopwords" : [
      "BeforeRelease",
      "CI",
      "Dist",
      "ExtUtils",
      "ExtraTestFiles",
      "MetaProvides",
      "RT",
      "RemoveDevelopPrereqs",
      "SKIRMESS",
      "ShareDir",
      "Zilla",
      "basedir",
      "dev",
      "dist",
      "distmeta",
      "doc",
      "inc",
      "lib",
      "perlcriticrc",
      "pm",
      "shebang",
      "wd",
      "xt"
   ]
}
