{
   "stopwords" : [
      "AppVeyor",
      "BeforeArchive",
      "CI",
      "MyBundle",
      "RunExtraTests",
      "SKIRMESS",
      "TravisCI",
      "appveyor",
      "ci",
      "cpanfile",
      "dist",
      "distmeta",
      "osx",
      "perltidy",
      "perltidyrc",
      "travis",
      "whitelisted",
      "xt"
   ]
}
